body {
	font-family: 'Century Gothic';
	font-size: 16px;
}
.container {
	width: 70%;
    margin: 0 auto;
}

.mt-em { margin-top: 5em; }

.text-center {
	text-align: center;
}
.text-left {
	text-align: left;
}
section.body-container {
	margin-top: 30px;
	padding: 10px;
}
table {
	width: 100%;
	border-collapse:collapse;
	border: 1px solid #f2f2f2;
}
table.table-striped tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
	width: 100px;
	overflow: hidden;
}
table thead {
    line-height: 2;
    background: #0d1c3e;
    color: #fff;
}
table thead th {
	padding: 10px;
}
.alert {
	padding: 10px;
    width: auto;
}
.alert-info {
    background: aliceblue;
    border-radius: 6px;
    border: 1px solid #c8def1;
}

.modal { 
	display: none; 
	position: fixed;
    top: 0px;
    border: 0px;
    left: 0px;
    right: 0px;
    height: 100%;
    width: 100%;
    z-index: 9;
    background: #00000030;
}
.modal-cont {
	margin: 0 auto;
    width: 50%;
    background: #fff;
    top: 10em;
    position: relative;
    border: 1px solid #9d9d9d;
    border-radius: 6px;
    box-shadow: 0px 0px 10px -2px #666;
}
.modal-header {
	padding: 10px 22px;
    border-bottom: 1px solid #ededed;
}
.modal-header p{
	font-weight: bold;
	text-align: left;
	color: #0f5da2;
	font-size: 20px;
}
.modal-header span.close-modal{
	float: right;
    margin-top: -40px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 600;
    color: #a5a5a5;
    cursor: pointer;
}
.modal-body {
	padding: 22px;
    width: auto;
    height: auto;
}
.input-container {
	padding: 10px;
    width: 98%;
}
.input-container label {
	font-weight: 600;
    padding-right: 20px;
    margin-top: 12px;
    margin-bottom: 4px;
    line-height: 2;
    width: 98.5%;
}
.input-container input {
    padding: 12px  2px 12px 12px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    width: 97%;
    font-size: 16px;
}
.input-container input.file {
    padding: 12px  2px 12px 12px;
    border: 1px solid #c0c0c0;
    border-radius: 4px;
    width: 97.5%;
    font-size: 16px;
}
.modal-footer {
	padding: 10px 22px;
    border-top: 1px solid #ededed;
}

.footer-l {
	background: #f7f7f7;
    padding: 10px;
    border-radius: 4px;
    border: solid 1px #e5e5e5;
}
button {
	cursor: pointer;
}
.btn {
	padding: 10px 25px 10px 25px;
    font-size: 16px;
}
.btn-block {
	width: 100%;
}
.btn-primary {
    font-size: 16px;
    background: #1273c7;
    color: #fff;
    border: 1px solid #1169b5;
    border-radius: 6px;
}
.btn-primary:hover {
	background: #1e82d9;
}
.btn-success {
    font-size: 16px;
    background: #12c78d;
    color: #fff;
    border: 1px solid #109b6e;
    border-radius: 6px;
}
.btn-success:hover {
	background: #2dd7a1;
}
.btn-info {
    font-size: 16px;
    background: #5fb5ff;
    color: #fff;
    border: 1px solid #4586bf;
    border-radius: 6px;
}
.btn-info:hover {
	background: #72bbfb;
}
.btn-danger {
    font-size: 16px;
    background: #cd4141;
    color: #fff;
    border: 1px solid #c32c2c;
    border-radius: 6px;
}
.btn-danger:hover {
	background: #db4d4d;
}
.btn-sm {
	padding: 6px 20px 6px 20px;
    font-size: 14px;
}
.btn-md {
	padding: 12px;
	font-size: 18px;
}
.btn-lg {
	padding: 16px;
    font-size: 22px;
}
.text-danger { color: #cd4141 };
.text-info { color: #5fb5ff };
.text-success { color: #12c78d };
.text-white { color: #fff };
.text-default { color: #000 };
.pull-right { float: right; }
.pull-left { float: left; }
.popup {
	position: fixed;
    top: 30px;
    right: 30px;
    background: #fff;
    font-size: 14px;
    padding: 4px 20px;
    box-shadow: 0px 0px 6px 1px #9b9b9b;
    border-radius: 4px;
}
.popup.msg-success {
	border-left: 8px solid #28a158;
}
.popup.msg-danger {
	border-left: 8px solid #a12828;
}
.popup.msg-warning {
	border-left: 8px solid #e3b841;
}
.popup.msg-info {
	border-left: 8px solid #1273c7;
}
.img-thumbnail {
	background: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
    width: 100px;
    height: auto;
}
.img-thumbnail-2 {
	background: #f0f0f0;
    padding: 5px;
    border-radius: 4px;
    width: 200px;
    height: auto;
}
.spacer {
	margin-top: 20px;
	margin-bottom: 30px;
}
.pd-l2 { padding-left: 4px }
.pd-l4 { padding-left: 8px }
.pd-l6 { padding-left: 12px }